@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Optional: just to hide the scrollbar */
}


.image {
    border: 5px transparent solid;
}

.image.active {
    border: 5px white solid;
}

.snap-start {
    scroll-snap-align: start;
}

.scroll-section-container {
    scroll-snap-type: x mandatory;
}